.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features-list {
  display: flex;
  &__item {
    width: 270px;
  }
  &__title {
    color: var(--title-text-color);
    @include font(700, 14px, 1.14, 0.03em);
    // font-weight: 700;
    // font-size: 14px;
    // line-height: 1.14;
    // letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &__text {
    color: var(--primary-text-color);
    @include font(400, 14px, 1.7, 0.03em);
    // font-size: 14px;
    // line-height: 1.7;
    // letter-spacing: 0.03em;
  }
}
.features-list .features-list__item + .features-list__item {
  margin-left: 30px;
}
.group {
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}
