header {
  border-bottom: 1px solid #ececec;
}
h1 {
  @include font(900, 44px, 1.4, 0.06em);
  // font-weight: 900;
  // font-size: 44px;
  // line-height: 1.4;
  // letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-right: auto;
  margin-left: auto;
}
button {
  font-family: Roboto, sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.features-div__title,
.service-div__title,
.team-div__title,
.clients-div__title {
  text-align: center;
  color: var(--title-text-color);
  @include font(700, 36px, 1.17, 0.03em);
  // font-weight: 700;
  // font-size: 36px;
  // line-height: 1.17;
  // letter-spacing: 0.03em;
  margin-bottom: 50px;
}
